@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 13vh;
}
header img {
  margin-left: 2rem;
}
header .alinhamento {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}
header nav {
  width: 30%;
  margin-left: 55rem;
  font-family: "Poppins", sans-serif;
}
header nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
header nav a {
  text-decoration: none;
  font-weight: 400;
  font-size: 1rem;
  color: #4b5563;
}
header nav a:hover {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
header button {
  background-color: #16a34a;
  width: 13%;
  height: 7vh;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  margin-right: 2rem;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}
header button:hover {
  opacity: 0.8;
  transition: 0.3;
}

.linha-horizontal {
  border-bottom: 1px solid #b4aeae;
  width: 96%;
  margin-left: 2.5rem;
}

.containerIntroducao {
  background-color: #ffffff;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.containerIntroducao article {
  width: 42vw;
  height: 45vh;
}
.containerIntroducao article h1 {
  width: 40vw;
  font-family: "Poppins", sans-serif;
  font-size: 3.75rem;
  font-weight: 700;
  color: #1f2937;
}
.containerIntroducao article p {
  width: 33vw;
  margin-top: 1rem;
  margin-bottom: 3rem;
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  color: #4b5563;
}
.containerIntroducao article div {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.containerIntroducao article div .botao-qDoar {
  background-color: #16a34a;
  width: 25%;
  height: 7vh;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.containerIntroducao article div .botao-qDoar:hover {
  opacity: 0.8;
  transition: 0.3;
}
.containerIntroducao article div .botao-qAdquirir {
  background-color: #ffffff;
  width: 25%;
  height: 7vh;
  border: 1px solid #2563eb;
  border-radius: 6px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #2563eb;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.containerIntroducao article div .botao-qAdquirir:hover {
  filter: brightness(85%);
  transition: 0.3;
}
.containerIntroducao #imagem-principal {
  width: 32vw;
  height: 95vh;
}

.containerDados {
  background-color: #f3f5f8;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.containerDados .dadosApontados {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  width: 65%;
}
.containerDados .dadosApontados h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  color: #16a34a;
}
.containerDados .dadosApontados p {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #4b5563;
}

.containerComoFunciona {
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.containerComoFunciona .titulo-principal {
  width: 100%;
  max-width: 1320px;
  text-align: left;
}
.containerComoFunciona .titulo-principal h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  color: #1f2937;
  padding-bottom: 1.5rem;
}
.containerComoFunciona .titulo-principal h3 {
  font-family: "Inter", sans-serif;
  font-size: 1.563rem;
  font-weight: 400;
  color: #1f2937;
}
.containerComoFunciona section {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 55px;
  padding-top: 4rem;
}
.containerComoFunciona section .box-doadores {
  background-color: #f3f5f8;
  width: 40%;
  height: 55vh;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
}
.containerComoFunciona section .box-doadores .titulos-box {
  display: flex;
  align-items: center;
  gap: 10px;
}
.containerComoFunciona section .box-doadores .titulos-box img {
  padding-bottom: 2rem;
}
.containerComoFunciona section .box-doadores .titulos-box h3 {
  font-family: "Inter", sans-serif;
  font-size: 1.563rem;
  font-weight: 400;
  color: #16a34a;
  padding-bottom: 2rem;
}
.containerComoFunciona section .box-doadores p {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #4b5563;
}
.containerComoFunciona section .box-doadores ol {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 2rem;
}
.containerComoFunciona section .box-doadores ol li {
  position: relative;
  padding-left: 3rem;
  margin-bottom: 2rem;
}
.containerComoFunciona section .box-doadores ol li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.3rem;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
}
.containerComoFunciona section .box-doadores ol strong {
  display: block;
  color: #09090b;
  font-weight: 700;
  margin-bottom: 0.3rem;
}
.containerComoFunciona section .box-doadores ol #um-verde::before {
  background-image: url(./images/numero-1-verde.png);
}
.containerComoFunciona section .box-doadores ol #dois-verde::before {
  background-image: url(./images/numero-2-verde.png);
}
.containerComoFunciona section .box-doadores ol #tres-verde::before {
  background-image: url(./images/numero-3-verde.png);
}
.containerComoFunciona section .box-adquirentes {
  background-color: #f3f5f8;
  width: 40%;
  height: 55vh;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
}
.containerComoFunciona section .box-adquirentes .titulos-box {
  display: flex;
  align-items: center;
  gap: 10px;
}
.containerComoFunciona section .box-adquirentes .titulos-box img {
  padding-bottom: 2rem;
}
.containerComoFunciona section .box-adquirentes .titulos-box h3 {
  font-family: "Inter", sans-serif;
  font-size: 1.563rem;
  font-weight: 400;
  color: #2563eb;
  padding-bottom: 2rem;
}
.containerComoFunciona section .box-adquirentes p {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #4b5563;
}
.containerComoFunciona section .box-adquirentes ol {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 2rem;
}
.containerComoFunciona section .box-adquirentes ol li {
  position: relative;
  padding-left: 3rem;
  margin-bottom: 2rem;
}
.containerComoFunciona section .box-adquirentes ol strong {
  display: block;
  color: #09090b;
  font-weight: 700;
  margin-bottom: 0.3rem;
}
.containerComoFunciona section .box-adquirentes ol #um-azul::before {
  background-image: url(./images/numero-1-azul.png);
}
.containerComoFunciona section .box-adquirentes ol #dois-azul::before {
  background-image: url(./images/numero-2-azul.png);
}
.containerComoFunciona section .box-adquirentes ol #tres-azul::before {
  background-image: url(./images/numero-3-azul.png);
}
.containerComoFunciona section .box-adquirentes ol li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.3rem;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
}

.containerProdutosDisponiveis {
  background-color: #f3f5f8;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.containerProdutosDisponiveis .titulo-principal {
  width: 100%;
  max-width: 1325px;
  text-align: left;
  padding-bottom: 6rem;
}
.containerProdutosDisponiveis .titulo-principal h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  color: #1f2937;
  padding-bottom: 1rem;
}
.containerProdutosDisponiveis .titulo-principal h3 {
  font-family: "Inter", sans-serif;
  font-size: 1.563rem;
  font-weight: 400;
  color: #4b5563;
}
.containerProdutosDisponiveis section {
  display: flex;
  width: 70%;
  justify-content: space-between;
}
.containerProdutosDisponiveis section article {
  background-color: #ffffff;
  border-radius: 8px;
  border: 2px solid #16a34a;
  width: 25%;
  height: 55vh;
  display: flex;
  flex-direction: column;
  text-align: start;
}
.containerProdutosDisponiveis section article img {
  width: 100%;
  height: 26vh;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.containerProdutosDisponiveis section article .notebook {
  filter: brightness(0.8);
}
.containerProdutosDisponiveis section article h4 {
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  color: #09090b;
  text-align: center;
  margin-top: 1.5rem;
}
.containerProdutosDisponiveis section article p {
  width: 84%;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  margin-left: 1.5rem;
  margin-top: 1rem;
  color: #4b5563;
}
.containerProdutosDisponiveis section article button {
  width: 52%;
  height: 5vh;
  margin-left: 4.5rem;
  margin-top: 2rem;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  background-color: #16a34a;
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: #ffffff;
}
.containerProdutosDisponiveis section article button:hover {
  opacity: 0.8;
  transition: 0.3;
}

.containerPessoalFalando {
  background-color: #ffffff;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.containerPessoalFalando h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  color: #1f2937;
  padding-bottom: 1rem;
}
.containerPessoalFalando h3 {
  font-family: "Inter", sans-serif;
  font-size: 1.563rem;
  font-weight: 400;
  color: #4b5563;
  padding-bottom: 4rem;
}
.containerPessoalFalando section {
  display: flex;
  width: 75%;
  justify-content: space-between;
}
.containerPessoalFalando section article {
  background-color: #ffffff;
  border-radius: 8px;
  border-top: 1px solid #9ca3af;
  border-right: 1px solid #9ca3af;
  border-bottom: 1px solid #9ca3af;
  border-left: 4px solid #9ca3af;
  width: 25%;
  height: 35vh;
  display: flex;
  flex-direction: column;
  text-align: start;
  padding-left: 3rem;
  padding-top: 2rem;
}
.containerPessoalFalando section article img {
  width: 40%;
}
.containerPessoalFalando section article .comentario {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #4b5563;
  width: 85%;
  margin-top: 1rem;
}
.containerPessoalFalando section article p {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: #6b7280;
}
.containerPessoalFalando section article ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 2rem;
}
.containerPessoalFalando section article ul li {
  position: relative;
  padding-left: 3rem;
  margin-bottom: 2rem;
}
.containerPessoalFalando section article ul li:before {
  content: "";
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
}
.containerPessoalFalando section article ul strong {
  display: block;
  color: #09090b;
  font-weight: 400;
  margin-bottom: 0.3rem;
}
.containerPessoalFalando section article ul #presente-verde::before {
  background-image: url(./images/circulo-verde-presente.png);
}
.containerPessoalFalando section article ul #coracao-azul::before {
  background-image: url(./images/circulo-azul-coracao.png);
}
.containerPessoalFalando section article ul #reciclagem-branco::before {
  background-image: url(./images/reciclagem-branco.png);
}

.containerFazerADiferenca {
  background-color: #f3f5f8;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.containerFazerADiferenca h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  color: #000000;
  padding-bottom: 1rem;
}
.containerFazerADiferenca h3 {
  font-family: "Inter", sans-serif;
  font-size: 1.563rem;
  font-weight: 400;
  color: #000000;
  width: 34%;
  text-align: center;
  padding-bottom: 3rem;
}
.containerFazerADiferenca div {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.containerFazerADiferenca div .comecar {
  width: 30%;
  height: 5vh;
  cursor: pointer;
  border-radius: 6px;
  border: none;
  background-color: #16a34a;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
}
.containerFazerADiferenca div .comecar:hover {
  opacity: 0.8;
  transition: 0.3;
}
.containerFazerADiferenca div .saber {
  width: 30%;
  height: 5vh;
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid #16a34a;
  background-color: #f3f5f8;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #16a34a;
}
.containerFazerADiferenca div .saber:hover {
  filter: brightness(85%);
  transition: 0.3;
}

footer {
  background-color: #1f2937;
  height: 40vh;
  font-family: "Poppins", sans-serif;
  padding: 2rem 0 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}
footer section div {
  flex: 1 1;
  min-width: 220px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.6rem;
}
footer section div img {
  margin-right: 7.5rem;
  margin-bottom: 1rem;
}
footer section div .coluna-1 {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #9ca3af;
  text-align: left;
  width: 70%;
}
footer section article {
  flex: 1 1;
  min-width: 220px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.6rem;
}
footer section article p {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #9ca3af;
  width: 80%;
  text-align: left;
}
footer section article h4 {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #ffffff;
  text-align: left;
  margin-right: 8rem;
  margin-bottom: 1rem;
}
footer section article #links {
  margin-right: 5.5rem;
}
footer section article ul {
  list-style: none;
  margin-right: 6rem;
}
footer section article ul li {
  padding-bottom: 1rem;
}
footer section article ul li a {
  text-decoration: none;
  color: #9ca3af;
}
footer section article ol {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  margin-top: 1.5rem;
}
footer section article ol li {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s, opacity 0.3s;
}
footer section article ol li:hover {
  transform: scale(1.1);
  opacity: 0.85;
}
footer section article ol li::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
footer section article ol #facebook::before {
  background-image: url(./images/icone-facebook.png);
}
footer section article ol #email::before {
  background-image: url(./images/icone-email.png);
}
footer section article ol #twitter::before {
  background-image: url(./images/icone-twitter.png);
}
footer .linha-footer {
  border-top: 1px solid #4b5563;
  width: 96%;
  margin-top: 2rem;
  padding-top: 2rem;
  text-align: center;
}
footer .linha-footer p {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #9ca3af;
}

@media (min-width: 201px) and (max-width: 500px) {
  header {
    height: 20vh;
    align-items: flex-start;
    flex-direction: column;
  }
  header img {
    width: 40%;
    margin-top: 1rem;
  }
  header .alinhamento {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
  }
  header nav {
    margin-left: 1rem;
    width: 75vw;
  }
  header nav a {
    font-size: 0.8rem;
  }
  header button {
    margin-left: 1rem;
    width: 30%;
    height: 6vh;
    font-size: 0.7rem;
  }
  .linha-horizontal {
    width: 85%;
    margin-left: 2rem;
  }
  .containerIntroducao {
    height: 70vh;
    flex-direction: column;
  }
  .containerIntroducao article {
    width: 85vw;
    height: 32vh;
  }
  .containerIntroducao article h1 {
    font-size: 2rem;
    width: 100%;
    padding-bottom: 1rem;
    margin-top: 3rem;
  }
  .containerIntroducao article p {
    margin: 0;
    font-size: 1rem;
    width: 100%;
  }
  .containerIntroducao article div {
    margin-top: 2rem;
    margin-left: 2rem;
    gap: 20px;
  }
  .containerIntroducao article div .botao-qDoar,
  .containerIntroducao article div .botao-qAdquirir {
    width: 40%;
    height: 5vh;
    font-size: 0.7rem;
  }
  .containerIntroducao #imagem-principal {
    width: 60vw;
    height: 85vh;
  }
  .containerDados {
    height: 15vh;
  }
  .containerDados .dadosApontados {
    width: 93%;
    flex-wrap: nowrap;
  }
  .containerDados .dadosApontados h2 {
    font-size: 1.5rem;
  }
  .containerDados .dadosApontados p {
    font-size: 0.7rem;
  }
  .containerComoFunciona {
    height: 130vh;
  }
  .containerComoFunciona .titulo-principal {
    width: 77%;
  }
  .containerComoFunciona .titulo-principal h2 {
    font-size: 1.5rem;
  }
  .containerComoFunciona .titulo-principal h3 {
    font-size: 1rem;
  }
  .containerComoFunciona section {
    flex-direction: column;
    width: 80%;
    padding-top: 2rem;
  }
  .containerComoFunciona section .box-doadores,
  .containerComoFunciona section .box-adquirentes {
    width: 97%;
    height: 47vh;
  }
  .containerComoFunciona section .box-doadores .titulos-box img,
  .containerComoFunciona section .box-adquirentes .titulos-box img {
    width: 14%;
    height: 8vh;
  }
  .containerComoFunciona section .box-doadores .titulos-box h3,
  .containerComoFunciona section .box-adquirentes .titulos-box h3 {
    font-size: 1rem;
  }
  .containerComoFunciona section .box-doadores p,
  .containerComoFunciona section .box-adquirentes p {
    font-size: 0.7rem;
  }
  .containerProdutosDisponiveis {
    height: 155vh;
  }
  .containerProdutosDisponiveis .titulo-principal {
    width: 77%;
    padding-bottom: 3rem;
  }
  .containerProdutosDisponiveis .titulo-principal h2 {
    font-size: 1.5rem;
  }
  .containerProdutosDisponiveis .titulo-principal h3 {
    font-size: 1rem;
  }
  .containerProdutosDisponiveis section {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .containerProdutosDisponiveis section article {
    width: 70%;
    height: 40vh;
  }
  .containerProdutosDisponiveis section article img {
    height: 16vh;
  }
  .containerProdutosDisponiveis section article h4,
  .containerProdutosDisponiveis section article p {
    font-size: 0.8rem;
  }
  .containerProdutosDisponiveis section article button {
    width: 50%;
    height: 5vh;
    font-size: 0.7rem;
    margin-left: 3rem;
  }
  .containerPessoalFalando {
    height: 141vh;
  }
  .containerPessoalFalando h2 {
    font-size: 1.5rem;
  }
  .containerPessoalFalando h3 {
    font-size: 1rem;
    padding-bottom: 2rem;
  }
  .containerPessoalFalando section {
    flex-direction: column;
    align-items: center;
    gap: 45px;
  }
  .containerPessoalFalando section article {
    width: 80%;
    height: 35vh;
  }
  .containerPessoalFalando section article .comentario,
  .containerPessoalFalando section article p {
    font-size: 0.8rem;
  }
  .containerPessoalFalando section article #presente-verde::before,
  .containerPessoalFalando section article #coracao-azul::before,
  .containerPessoalFalando section article #reciclagem-branco::before {
    width: 30px;
    height: 30px;
  }
  .containerFazerADiferenca {
    height: 28vh;
  }
  .containerFazerADiferenca h2 {
    font-size: 1.5rem;
  }
  .containerFazerADiferenca h3 {
    font-size: 1rem;
    width: 94%;
  }
  .containerFazerADiferenca div {
    width: 73%;
  }
  .containerFazerADiferenca div .comecar,
  .containerFazerADiferenca div .saber {
    width: 40%;
    height: 4vh;
    font-size: 0.7rem;
  }
  footer {
    height: 61vh;
  }
  footer section div {
    margin-right: 2rem;
    min-width: 152px;
  }
  footer section div img {
    width: 70%;
    margin-right: 1rem;
  }
  footer section div .coluna-1 {
    font-size: 0.7rem;
    width: 100%;
  }
  footer section article {
    min-width: 180px;
    margin-bottom: 1rem;
  }
  footer section article p {
    font-size: 0.7rem;
  }
  footer section article ul {
    font-size: 0.7rem;
  }
  footer section article ul li {
    width: 22vw;
  }
  footer section article h4 {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    width: 51%;
  }
  footer .linha-footer {
    padding-top: 1rem;
  }
  footer .linha-footer p {
    font-size: 0.7rem;
  }
}/*# sourceMappingURL=style.css.map */