@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 13vh;

  img {
    margin-left: 2rem;
  }

  nav {
    width: 20%;
    margin-left: 60rem;
    font-family: "Poppins", sans-serif;

    ul {
      display: flex;
      justify-content: space-evenly;
      list-style: none;
    }

    a {
      text-decoration: none;
      font-weight: 400;
      font-size: 1rem;
      color: #4b5563;

      &:hover {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
      }
    }
  }

  button {
    background-color: #16a34a;
    width: 10%;
    height: 7vh;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    margin-right: 2rem;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;

    &:hover {
      opacity: 0.8;
      transition: 0.3;
    }
  }
}

.linha-horizontal {
  border-bottom: 1px solid #b4aeae;
  width: 96%;
  margin-left: 2.5rem;
}

.containerIntroducao {
  background-color: #ffffff;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;

  article {
    width: 42vw;
    height: 45vh;

    h1 {
      width: 40vw;
      font-family: "Poppins", sans-serif;
      font-size: 3.75rem;
      font-weight: 700;
      color: #1f2937;
    }

    p {
      width: 33vw;
      margin-top: 1rem;
      margin-bottom: 3rem;
      font-family: "Inter", sans-serif;
      font-size: 1.25rem;
      font-weight: 400;
      color: #4b5563;
    }

    div {
      display: flex;
      flex-direction: row;
      gap: 50px;

      .botao-qDoar {
        background-color: #16a34a;
        width: 25%;
        height: 7vh;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        font-family: "Poppins", sans-serif;
        font-size: 1rem;
        font-weight: 400;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        &:hover {
          opacity: 0.8;
          transition: 0.3;
        }
      }

      .botao-qAdquirir {
        background-color: #ffffff;
        width: 25%;
        height: 7vh;
        border: 1px solid #2563eb;
        border-radius: 6px;
        cursor: pointer;
        font-family: "Poppins", sans-serif;
        font-size: 1rem;
        font-weight: 400;
        color: #2563eb;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        &:hover {
          filter: brightness(85%);
          transition: 0.3;
        }
      }
    }
  }

  #imagem-principal {
    width: 32vw;
    height: 95vh;
  }
}

.containerDados {
  background-color: #f3f5f8;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .dadosApontados {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    width: 80%;

    h2 {
      font-family: "Poppins", sans-serif;
      font-size: 2.5rem;
      font-weight: 700;
      color: #16a34a;
    }

    p {
      font-family: "Poppins", sans-serif;
      font-size: 1rem;
      font-weight: 400;
      color: #4b5563;
    }
  }
}

.containerComoFunciona {
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .titulo-principal {
    width: 100%;
    max-width: 1320px;
    text-align: left;

    h2 {
      font-family: "Poppins", sans-serif;
      font-size: 2.5rem;
      font-weight: 700;
      color: #1f2937;
      padding-bottom: 1.5rem;
    }

    h3 {
      font-family: "Inter", sans-serif;
      font-size: 1.563rem;
      font-weight: 400;
      color: #1f2937;
    }
  }

  section {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 55px;
    padding-top: 4rem;

    .box-doadores {
      background-color: #f3f5f8;
      width: 40%;
      height: 55vh;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 2rem;

      .titulos-box {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
          padding-bottom: 2rem;
        }

        h3 {
          font-family: "Inter", sans-serif;
          font-size: 1.563rem;
          font-weight: 400;
          color: #16a34a;
          padding-bottom: 2rem;
        }
      }

      p {
        font-family: "Poppins", sans-serif;
        font-size: 1rem;
        font-weight: 400;
        color: #4b5563;
      }

      ol {
        list-style: none;
        padding: 0;
        margin: 0;
        padding-top: 2rem;

        li {
          position: relative;
          padding-left: 3rem;
          margin-bottom: 2rem;
        }

        strong {
          display: block;
          color: #09090b;
          font-weight: 700;
          margin-bottom: 0.3rem;
        }

        #um-verde::before {
          background-image: url(./images/numero-1-verde.png);
        }
        #dois-verde::before {
          background-image: url(./images/numero-2-verde.png);
        }
        #tres-verde::before {
          background-image: url(./images/numero-3-verde.png);
        }

        li::before {
          content: "";
          position: absolute;
          left: 0;
          top: 0.3rem;
          width: 24px;
          height: 24px;
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
    }

    .box-adquirentes {
      background-color: #f3f5f8;
      width: 40%;
      height: 55vh;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 2rem;

      .titulos-box {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
          padding-bottom: 2rem;
        }

        h3 {
          font-family: "Inter", sans-serif;
          font-size: 1.563rem;
          font-weight: 400;
          color: #2563eb;
          padding-bottom: 2rem;
        }
      }

      p {
        font-family: "Poppins", sans-serif;
        font-size: 1rem;
        font-weight: 400;
        color: #4b5563;
      }

      ol {
        list-style: none;
        padding: 0;
        margin: 0;
        padding-top: 2rem;

        li {
          position: relative;
          padding-left: 3rem;
          margin-bottom: 2rem;
        }

        strong {
          display: block;
          color: #09090b;
          font-weight: 700;
          margin-bottom: 0.3rem;
        }

        #um-azul::before {
          background-image: url(./images/numero-1-azul.png);
        }
        #dois-azul::before {
          background-image: url(./images/numero-2-azul.png);
        }
        #tres-azul::before {
          background-image: url(./images/numero-3-azul.png);
        }

        li::before {
          content: "";
          position: absolute;
          left: 0;
          top: 0.3rem;
          width: 24px;
          height: 24px;
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
    }
  }
}

.containerProdutosDisponiveis {
  background-color: #f3f5f8;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .titulo-principal {
    width: 100%;
    max-width: 1325px;
    text-align: left;
    padding-bottom: 6rem;

    h2 {
      font-family: "Poppins", sans-serif;
      font-size: 2.5rem;
      font-weight: 700;
      color: #1f2937;
      padding-bottom: 1rem;
    }

    h3 {
      font-family: "Inter", sans-serif;
      font-size: 1.563rem;
      font-weight: 400;
      color: #4b5563;
    }
  }

  section {
    display: flex;
    width: 70%;
    justify-content: space-between;

    article {
      background-color: #ffffff;
      border-radius: 8px;
      border: 2px solid #16a34a;
      width: 25%;
      height: 55vh;
      display: flex;
      flex-direction: column;
      text-align: start;

      img {
        width: 100%;
        height: 26vh;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }

      .notebook {
        filter: brightness(0.8);
      }

      h4 {
        font-family: "Inter", sans-serif;
        font-size: 1.25rem;
        font-weight: 400;
        color: #09090b;
        text-align: center;
        margin-top: 1.5rem;
      }

      p {
        width: 84%;
        font-family: "Poppins", sans-serif;
        font-size: 1rem;
        font-weight: 400;
        text-align: center;
        margin-left: 1.5rem;
        margin-top: 1rem;
        color: #4b5563;
      }

      button {
        width: 52%;
        height: 5vh;
        margin-left: 4.5rem;
        margin-top: 2rem;
        cursor: pointer;
        border: none;
        border-radius: 6px;
        background-color: #16a34a;
        font-family: "Inter", sans-serif;
        font-size: 0.875rem;
        font-weight: 400;
        color: #ffffff;

        &:hover {
          opacity: 0.8;
          transition: 0.3;
        }
      }
    }
  }
}

.containerPessoalFalando {
  background-color: #ffffff;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    font-family: "Poppins", sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: #1F2937;
    padding-bottom: 1rem;
  }

  h3 {
    font-family: "Inter", sans-serif;
    font-size: 1.563rem;
    font-weight: 400;
    color: #4B5563;
    padding-bottom: 4rem;
  }

  section {
    display: flex;
    width: 75%;
    justify-content: space-between;

    article {
      background-color: #ffffff;
      border-radius: 8px;
      border-top: 1px solid #9CA3AF;
      border-right: 1px solid #9CA3AF;
      border-bottom: 1px solid #9CA3AF;
      border-left: 4px solid #9CA3AF;
      width: 25%;
      height: 35vh;
      display: flex;
      flex-direction: column;
      text-align: start;
      padding-left: 3rem;
      padding-top: 2rem;

      img {
        width: 40%;
      }

      .comentario {
        font-family: "Poppins", sans-serif;
        font-size: 1rem;
        font-weight: 400;
        color: #4B5563;
        width: 85%;
        margin-top: 1rem;
      }

      p {
        font-family: "Inter", sans-serif;
        font-size: 0.875rem;
        font-weight: 400;
        color: #6B7280;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-top: 2rem;

        li {
          position: relative;
          padding-left: 3rem;
          margin-bottom: 2rem;
        }

        strong {
          display: block;
          color: #09090B;
          font-weight: 400;
          margin-bottom: 0.3rem;
        }

        #presente-verde::before {
          background-image: url(./images/circulo-verde-presente.png);
        }
        #coracao-azul::before {
          background-image: url(./images/circulo-azul-coracao.png);
        }
        #reciclagem-branco::before {
          background-image: url(./images/reciclagem-branco.png);
        }

        li::before {
          content: "";
          position: absolute;
          left: 0;
          width: 40px;
          height: 40px;
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
    }
  }
}
