@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 13vh;
}
header img {
  margin-left: 2rem;
}
header nav {
  width: 20%;
  margin-left: 60rem;
  font-family: "Poppins", sans-serif;
}
header nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
header nav a {
  text-decoration: none;
  font-weight: 400;
  font-size: 1rem;
  color: #4b5563;
}
header nav a:hover {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
header button {
  background-color: #16a34a;
  width: 10%;
  height: 7vh;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  margin-right: 2rem;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}
header button:hover {
  opacity: 0.8;
  transition: 0.3;
}

.linha-horizontal {
  border-bottom: 1px solid #b4aeae;
  width: 96%;
  margin-left: 2.5rem;
}

.containerIntroducao {
  background-color: #ffffff;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.containerIntroducao article {
  width: 42vw;
  height: 45vh;
}
.containerIntroducao article h1 {
  width: 40vw;
  font-family: "Poppins", sans-serif;
  font-size: 3.75rem;
  font-weight: 700;
  color: #1f2937;
}
.containerIntroducao article p {
  width: 33vw;
  margin-top: 1rem;
  margin-bottom: 3rem;
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  color: #4b5563;
}
.containerIntroducao article div {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.containerIntroducao article div .botao-qDoar {
  background-color: #16a34a;
  width: 25%;
  height: 7vh;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.containerIntroducao article div .botao-qDoar:hover {
  opacity: 0.8;
  transition: 0.3;
}
.containerIntroducao article div .botao-qAdquirir {
  background-color: #ffffff;
  width: 25%;
  height: 7vh;
  border: 1px solid #2563eb;
  border-radius: 6px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #2563eb;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.containerIntroducao article div .botao-qAdquirir:hover {
  filter: brightness(85%);
  transition: 0.3;
}
.containerIntroducao #imagem-principal {
  width: 32vw;
  height: 95vh;
}

.containerDados {
  background-color: #f3f5f8;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.containerDados .dadosApontados {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
  width: 80%;
}
.containerDados .dadosApontados h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  color: #16a34a;
}
.containerDados .dadosApontados p {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #4b5563;
}

.containerComoFunciona {
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.containerComoFunciona .titulo-principal {
  width: 100%;
  max-width: 1320px;
  text-align: left;
}
.containerComoFunciona .titulo-principal h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  color: #1f2937;
  padding-bottom: 1.5rem;
}
.containerComoFunciona .titulo-principal h3 {
  font-family: "Inter", sans-serif;
  font-size: 1.563rem;
  font-weight: 400;
  color: #1f2937;
}
.containerComoFunciona section {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 55px;
  padding-top: 4rem;
}
.containerComoFunciona section .box-doadores {
  background-color: #f3f5f8;
  width: 40%;
  height: 55vh;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
}
.containerComoFunciona section .box-doadores .titulos-box {
  display: flex;
  align-items: center;
  gap: 10px;
}
.containerComoFunciona section .box-doadores .titulos-box img {
  padding-bottom: 2rem;
}
.containerComoFunciona section .box-doadores .titulos-box h3 {
  font-family: "Inter", sans-serif;
  font-size: 1.563rem;
  font-weight: 400;
  color: #16a34a;
  padding-bottom: 2rem;
}
.containerComoFunciona section .box-doadores p {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #4b5563;
}
.containerComoFunciona section .box-doadores ol {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 2rem;
}
.containerComoFunciona section .box-doadores ol li {
  position: relative;
  padding-left: 3rem;
  margin-bottom: 2rem;
}
.containerComoFunciona section .box-doadores ol strong {
  display: block;
  color: #09090b;
  font-weight: 700;
  margin-bottom: 0.3rem;
}
.containerComoFunciona section .box-doadores ol #um-verde::before {
  background-image: url(./images/numero-1-verde.png);
}
.containerComoFunciona section .box-doadores ol #dois-verde::before {
  background-image: url(./images/numero-2-verde.png);
}
.containerComoFunciona section .box-doadores ol #tres-verde::before {
  background-image: url(./images/numero-3-verde.png);
}
.containerComoFunciona section .box-doadores ol li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.3rem;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
}
.containerComoFunciona section .box-adquirentes {
  background-color: #f3f5f8;
  width: 40%;
  height: 55vh;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
}
.containerComoFunciona section .box-adquirentes .titulos-box {
  display: flex;
  align-items: center;
  gap: 10px;
}
.containerComoFunciona section .box-adquirentes .titulos-box img {
  padding-bottom: 2rem;
}
.containerComoFunciona section .box-adquirentes .titulos-box h3 {
  font-family: "Inter", sans-serif;
  font-size: 1.563rem;
  font-weight: 400;
  color: #2563eb;
  padding-bottom: 2rem;
}
.containerComoFunciona section .box-adquirentes p {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #4b5563;
}
.containerComoFunciona section .box-adquirentes ol {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 2rem;
}
.containerComoFunciona section .box-adquirentes ol li {
  position: relative;
  padding-left: 3rem;
  margin-bottom: 2rem;
}
.containerComoFunciona section .box-adquirentes ol strong {
  display: block;
  color: #09090b;
  font-weight: 700;
  margin-bottom: 0.3rem;
}
.containerComoFunciona section .box-adquirentes ol #um-azul::before {
  background-image: url(./images/numero-1-azul.png);
}
.containerComoFunciona section .box-adquirentes ol #dois-azul::before {
  background-image: url(./images/numero-2-azul.png);
}
.containerComoFunciona section .box-adquirentes ol #tres-azul::before {
  background-image: url(./images/numero-3-azul.png);
}
.containerComoFunciona section .box-adquirentes ol li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.3rem;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
}

.containerProdutosDisponiveis {
  background-color: #f3f5f8;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.containerProdutosDisponiveis .titulo-principal {
  width: 100%;
  max-width: 1325px;
  text-align: left;
  padding-bottom: 6rem;
}
.containerProdutosDisponiveis .titulo-principal h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  color: #1f2937;
  padding-bottom: 1rem;
}
.containerProdutosDisponiveis .titulo-principal h3 {
  font-family: "Inter", sans-serif;
  font-size: 1.563rem;
  font-weight: 400;
  color: #4b5563;
}
.containerProdutosDisponiveis section {
  display: flex;
  width: 70%;
  justify-content: space-between;
}
.containerProdutosDisponiveis section article {
  background-color: #ffffff;
  border-radius: 8px;
  border: 2px solid #16a34a;
  width: 25%;
  height: 55vh;
  display: flex;
  flex-direction: column;
  text-align: start;
}
.containerProdutosDisponiveis section article img {
  width: 100%;
  height: 26vh;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.containerProdutosDisponiveis section article .notebook {
  filter: brightness(0.8);
}
.containerProdutosDisponiveis section article h4 {
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  color: #09090b;
  text-align: center;
  margin-top: 1.5rem;
}
.containerProdutosDisponiveis section article p {
  width: 84%;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  margin-left: 1.5rem;
  margin-top: 1rem;
  color: #4b5563;
}
.containerProdutosDisponiveis section article button {
  width: 52%;
  height: 5vh;
  margin-left: 4.5rem;
  margin-top: 2rem;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  background-color: #16a34a;
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  color: #ffffff;
}
.containerProdutosDisponiveis section article button:hover {
  opacity: 0.8;
  transition: 0.3;
}/*# sourceMappingURL=style.css.map */